<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="../../scripts/app.js"></script>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../styles/storyStyle.css" >
    <link rel="stylesheet" type="text/css" href="../../styles/layout.css" >
    <link rel="stylesheet" type="text/css" href="../../styles/main.css" >

     <!-- Font Awesome-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Story View</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main>
        <h5>Status: <%= story[0].status %></h5>
        <% if (user) { %>
        <% if (story[0].author_id === user.id && story[0].status !== 'Completed') { %>
          <form action = "/story/<%= story[0].id %>/edit" method = 'POST'>
            <button > Mark Complete</button>
          </form>
          <% } %>
          <% } %>
      <section>
          <div id="storyHolder" class="card text-white bg-secondary mb-3">
            <div class="card-header">Author: <%= story[0].name %></div>
            <div class="card-body">
              <h4 class="card-title"><%= story[0].title %></h4>
              <p class="card-text"><%= story[0].contents %></p>
            </div>
        </div>
        <% if (story[0].status !== 'Completed') {%>
        <div>
          <button type="button" onclick="showContributionBox();">Contribute</button>
        </div>
        <form
          action="/story/<%= story[0].id %>"
          method="POST"
          id="contribution-form">

        <div class = "add-contribution-box" style="display: none;">
          <textarea class="enter-contribution" id="yourContribution" name="yourContribution" placeholder="Your contribution... "></textarea>
           <input type="submit" value="Submit" />
          <button type="button" onclick="clearContribution(); hideContributionBox();">Cancel</button>
        </div>
        </form>
      <% } %>
          <div class = "container">
            <% for (let i = story.length - 1; i >= 0; i--) {%>
              <%if(story[0].contribution_id){ %>
          <div class = "contributions-container">
            <div class="contribution-text"><%= story[i].contribution_text %></div>
              <div class = "contributions-footer">
              <div> <i id="heart" class="fas fa-heart"></i> <%= story[i].contributions_votes %> <%= story[i].contribution_status %> Contributed By: <%= story[i].contributor_id %>
                <% if (story[0].author_id === user.id && story[0].status !== 'Completed') { %>
                    <form action = "/story/<%= story[0].id %>/approve" method = 'POST'>
                      <button id="view-button" class="btn btn-outline-warning"> Approve</button>
                    </form>
                    <form action = "/story/<%= story[0].id %>/delete" method = 'POST'>
                      <button id="view-button" class="btn btn-outline-danger"> Reject</button>
                    </form>
                  <% } %>
              </div>
            </div>
          </div>
            <% } else { %>

            <% } %>
            <% } %>
          </div>

          </div>
      </section>
    </main>
  </body>
</html>
