<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="../../scripts/app.js"></script>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../styles/storyStyle.css" >
    <link rel="stylesheet" type="text/css" href="../../styles/layout.css" >
    <link rel="stylesheet" type="text/css" href="../../styles/main.css" >

     <!-- Font Awesome-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= story[0].title %></title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main>
        <h5>Status: <%= story[0].status %></h5>
        <% if (user) { %>
        <% if (story[0].author_id === user.id && story[0].status !== 'Completed') { %>
          <form action = "/story/<%= story[0].id %>/edit" method = 'POST'>
            <button > Mark Complete</button>
          </form>
          <% } %>
          <% } %>
      <section>
          <div id="storyHolder" class="card text-white bg-secondary mb-3">
            <div class="card-header">Author: <%= story[0].name %></div>
            <div class="card-body">
              <h4 class="card-title"><%= story[0].title %></h4>
              <p class="card-text"><%= story[0].contents %></p>
            </div>
        </div>
        <% if (story[0].status !== 'Completed' && user) {%>
        <div>
          <button type="button" onclick="showContributionBox();">Contribute</button>
        </div>
        <form
          action="/story/<%= story[0].id %>"
          method="POST"
          id="contribution-form">

        <div class = "add-contribution-box" style="display: none;">
          <textarea class="enter-contribution" id="yourContribution" name="yourContribution" placeholder="Your contribution... "></textarea>
           <input type="submit" value="Submit" />
          <button type="button" onclick="clearContribution(); hideContributionBox();">Cancel</button>
        </div>
        </form>
      <% } %>
          <div class = "container">
            <% for (let i = story.length - 1; i >= 0; i--) {%>
              <%if(story[0].contribution_id){ %>
          <div class = "contributions-container">
            <div class="contribution-text"><%= story[i].contribution_text %></div>
              <div class = "contributions-footer">
                <% if (story[0].status === 'In Progress' && (user) && story[i].contribution_status !== 'Accepted' && story[i].contribution_status !== 'Rejected' ) {%>
                  <form action = "/story/<%= story[i].contribution_id%>/upvote" method = 'POST'>
                    <button class="btn btn-outline-info"> <i class="fas fa-arrow-up"></i></button>
                  </form>
                <% } %>
                Votes : <%= story[i].contributions_votes %>
                <div>Status: <%= story[i].contribution_status %></div> <div>Contributed By: <%= story[i].contributor_id %></div>
                <% if (user) {%>
                <% if (story[0].author_id === user.id && story[0].status !== 'Completed' && story[i].contribution_status !== 'Accepted' && story[i].contribution_status !== 'Rejected' ) { %>                  
                  <div class ="approve-reject">

                    <form action = "/story/<%= story[0].id %>/<%= story[i].contribution_id %>/accept" method = 'POST'>
                      <button class="btn btn-outline-success"> Accept</button>
                    </form>
                    <form action = "/story/<%= story[0].id %>/<%= story[i].contribution_id %>/reject" method = 'POST'>
                      <button id="view-button" class="btn btn-outline-danger"> Reject</button>
                    </form>
                  </div>  
                  <% } %>
                <% } %>
              
            </div>
          </div>
            <% } else { %>

            <% } %>
            <% } %>
          </div>

          </div>
      </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </body>
</html>
